%ul.nav-links.new-session-tabs.nav-tabs{ role: 'tablist'}
  %li.active{ role: 'presentation' }
    %a{ href: '#login-pane', data: {'toggle':'tab'}, role: 'tab'} Sign in
  %li{ role: 'presentation'}
    %a{ href: '#register-pane', data: {'toggle':'tab'}, role: 'tab'} Register
